---
import { ThreeDCardDemo } from "@/components/3DCard";
---

<section class="grid grid-cols-2 gap-12">
  <ThreeDCardDemo
    title="Amazon Echo"
    description="Un altavoz inteligente que permite controlar dispositivos inteligentes con tu voz, reproducir música, configurar alarmas y más."
    imageUrl="/img/Domotica-con-alexa-asistentes.png"
    client:load
  />
  <ThreeDCardDemo
    title="Google Nest Hub"
    description="Una pantalla inteligente que te permite controlar dispositivos inteligentes, ver videos, configurar alarmas y más."
    imageUrl="/img/Domotica-con-google-home-asistentes.png"
    client:load
  />
  <ThreeDCardDemo
    title="Nest Learning Thermostat"
    description="Un termostato que aprende tus preferencias y programa tu hogar automáticamente para ahorrar energía."
    imageUrl="/img/google-nest.webp"
    client:load
  />
  <ThreeDCardDemo
    title="Yale Assure Lock"
    description="Una cerradura inteligente que puedes bloquear y desbloquear desde tu teléfono inteligente, con tu voz o con tu huella digital."
    imageUrl="/img/Yale-Assure-Lock-SL-Cerradura-de-puerta-con-pantalla-tactil-sin-llave.jpg"
    client:load
  />
</section>
