---
// Solutions.astro
---

<div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" checked="checked" /> 
    <div class="collapse-title text-xl font-medium">
      Control de Iluminación Inteligente
    </div>
    <div class="collapse-content"> 
      <p>
        <strong>Descripción:</strong> Automatiza las luces de tu hogar para mejorar el confort y ahorrar energía.
      </p>
      <p>
        <strong>Dispositivos Utilizados:</strong>
        <ul class="list-disc ml-4">
          <li>Philips Hue Motion Sensor: Un sensor de movimiento que activa las luces cuando detecta presencia.</li>
          <li>Amazon Echo: Un altavoz inteligente que permite el control por voz de las luces.</li>
          <li>Philips Hue Bulbs: Bombillas inteligentes que pueden ser controladas mediante el sensor y el altavoz.</li>
        </ul>
      </p>
      <p>
        <strong>Beneficios:</strong>
        <ul class="list-disc ml-4">
          <li>Ahorro energético: Las luces se apagan automáticamente cuando no hay movimiento.</li>
          <li>Mayor confort: Controla las luces por voz y movimiento sin necesidad de interruptores físicos.</li>
          <li>Mejora de la seguridad: Las luces pueden simular presencia en casa cuando estás fuera.</li>
        </ul>
      </p>
      <p>
        <strong>Protocolo de Comunicación:</strong> Zigbee
      </p>
    </div>
  </div>
  
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" /> 
    <div class="collapse-title text-xl font-medium">
      Sistema de Seguridad Inteligente
    </div>
    <div class="collapse-content"> 
      <p>
        <strong>Descripción:</strong> Monitorea y protege tu hogar con dispositivos de seguridad conectados.
      </p>
      <p>
        <strong>Dispositivos Utilizados:</strong>
        <ul class="list-disc ml-4">
          <li>Yale Assure Lock: Una cerradura inteligente que se puede controlar desde el móvil o por voz.</li>
          <li>Eve Door & Window Sensor: Un sensor que detecta la apertura y cierre de puertas y ventanas.</li>
          <li>Nest Cam: Una cámara de seguridad que proporciona monitoreo visual y alertas en tiempo real.</li>
        </ul>
      </p>
      <p>
        <strong>Beneficios:</strong>
        <ul class="list-disc ml-4">
          <li>Mayor seguridad: Recibe alertas instantáneas de actividades sospechosas.</li>
          <li>Acceso remoto: Controla y monitorea tu hogar desde cualquier lugar con tu móvil.</li>
          <li>Integración: Los dispositivos se pueden integrar para ofrecer una seguridad integral.</li>
        </ul>
      </p>
      <p>
        <strong>Protocolo de Comunicación:</strong> Wi-Fi, Zigbee
      </p>
    </div>
  </div>
  