<section class="max-md:space-y-20 mt-32 space-y-52 flex flex-col items-center">
    <h2 class="max-md:text-3xl font-bold text-6xl text-white text-center">El futuro del hogar está aquí: Domótica para una vida más fácil y cómoda</h2>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/7NeMw94um_c?si=nXiw8SMARtP7pDW5"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    class="max-md:w-[300px] max-md:h-[180px] lg:w-[820px] lg:h-[450px]"
    allowfullscreen></iframe>
</section>
